body {
  font-family: Verdana, Sans, Sans-Serif;
}
.content_wrapper {
  margin: 0px auto 0px auto;
  width: 90%;
}
.left_wrapper {
  float: left;
  width: 45%;
}
.multi_pane_wrapper {
  float: right;
  width: 45%;
  background-color: #d5edab;
  border-radius: 20px;
}
.multi_pane_heading {
  background-color: #a0d641;
  color: #1e2a09;
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #3c5412;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.search_input {
  width: calc(100% - 1em);
  font-size: 20pt;
  letter-spacing: 1px;
  margin: 0.3em 0.5em 0.5em 0.5em;
  color: #1e2a09;
  background-image: url(img/looking-glass.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 6px;
  border-width: 4px;
  border-radius: 5px;
}
.search_list_wrapper, .configuration_wrapper, .menu_pane_wrapper, .radio_pane_wrapper {
  width: calc(100% - 1em);
  margin: 0em 0.5em 0em 0.5em;
}
.search_list_element {
  border-bottom: 2px solid #3c5412;
  margin: 0em;
  padding: 0em 0.2em 0.2em 0.3em;
  overflow: hidden;
  /*box-shadow: inset 0px -2px 2px 2px #9aa970;*/
  background-image: linear-gradient(to top, #9aa970 0px, #a8bd82 3px, #d5edab 8px, #d5edab 100%);
}
.search_list_wrapper .search_list_link:last-child .search_list_element {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: none;
}
.search_list_tag {
  font-size: 10pt;
  background-color: #c7f1c0;
  color: #297d1c;
  float: right;
  margin-left: 6px;
  padding: 1px 3px 1px 3px;
  border-radius: 5px;
}
.search_list_tag:hover {
  background-color: #000000;
  color: #ffffff;
}
.search_list_count_played {
  font-size: 10pt;
  clear: both;
  color: #3c5412;
}
.search_label {
  font-size: 14pt;
}
.search_list_link:link, .search_list_link:visited {
  color: #1e2a09;
  text-decoration: none;
}
.paging_wrapper {
  font-family: Sans, Sans-Serif, Arial;
  /*margin: 0.3em 0em 0.3em 0em;*/
}
.paging_filler {
  display: block;
  float: left;
  margin: 0.5em 0em 0em 0em;
  text-align: center;
}
.paging_button {
  display: block;
  float: left;
  min-width: 1.5em;
  background-color: #fbfbfb;
  /*margin: 0em 0.2em 0em 0.2em;*/
  padding: 0.2em;
  text-align: center;
  color: #303030;
  font-weight: normal;
  font-size: 14pt;
  margin: 0.2em 0em 0.2em 0em;
  border-left:  3px solid #f0f0f0;
  border-right: 3px solid #f0f0f0;
}
.paging_button:hover
{
  transform: scale(1.2);
}
.paging_button_current:hover
{
  transform: none;
}
.paging_button_current {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  margin: 0em;
  padding: 0.4em 0.2em 0.4em 0.2em;
}
.paging_button_first {
  display: block;
  margin-left: 0em;
  border-left: none;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
.paging_button_last {
  display: block;
  border-right: none;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.paging_button:link, .paging_button:visited {
  text-decoration: none;
  color: #606060;
}
.paging_trailing {
  display: block;
  clear: both;
  width: 0px;
  height: 0px;
  margin: 0px;
}
#audio_caption {
  font-size: 20pt;
  font-weight: bold;
  min-height: 20px;
  margin: 0.1em 0em 0.3em 0em;
  color: #1e2a09;
}
#audio_player {
  width: 100%;
}
.playlist {
  background-color: #d5edab;
  color: #1e2a09;
}
.playlist_title {
  font-size: 16pt;
  padding: 2px 0px 3px 10px;
  background-color: #d5edab;
  color: #1e2a09;
  font-weight: bold;
  border-bottom: 3px solid #94a970;
  background-image: radial-gradient(circle at 20%, #d5edab 0%, #94a970 100%);
  box-shadow: inset 0px -5px 10px 3px #94a970;
}
.playlist_list {
  max-height: 250px;
  overflow: auto;
}
.playlist_link:link, .playlist_link:visited {
  color: #000000;
  text-decoration: none;
}
.playlist_element {
  border-bottom: 2px solid #3c5412;
  background-color: #d5edab;
  color: #1e2a09;
  overflow: hidden;
  padding: 0.15em 0em 0.45em 0.5em;
  box-shadow: inset 0px -2px 2px 2px #9aa970;
}
.playlist_selected_element {
  color: #1e2a09;
  background-color: #a0d642;
  box-shadow: none;
  background-image: linear-gradient(to bottom, #c0e382 0%, #a0d642 80%, #3c5412 100%);
}
.playlist_selected_element::before {
  content: "▶ ";
}
.playlist_option_wrapper {
  background-color: #1e2a09;
  width: 100%;
  height: 42px;
}
.playlist_option_div {
  float: left;
  width: calc(100% / 6);
  height: 34px;
  padding: 4px;
  background-color: #1e2a09;
  text-align: center;
/*  background-image: radial-gradient(ellipse at center, #000000 0%, #080808 20%, #303030 40%, #707070 80%, #b0b0b0 100%);*/
/*
  border-top: 2px solid #e8e8e8;
  border-left: 2px solid #e8e8e8;
  border-bottom: 2px solid #909090;
  border-right: 2px solid #909090;
*/
}
.playlist_option_div:nth-child(1)
{
  margin-left: 2px;
}
.playlist_option_div:nth-last-child(1)
{
  margin-right: 0px;
}
.playlist_option_div:hover
{
  background-color: #94a970;
  /*background-image: radial-gradient(ellipse at center, #b0b0b0 0%, #707070 20%, #303030 40%, #080808 80%, #000000 100%);*/
}
.playlist_option_div_selected {
  border: 4px solid #ffffff;
  padding: 0px;
}
.playlist_option_img {
}
.contextmenu_wrapper {
  font-family: Sans, Sans-Serif, Arial;
  width: 8em;
  border: 3px solid #928320;
  border-radius: 10px;
  background-color: #ede4ab;
  overflow: hidden;
  border-top-right-radius: 0px;
}
.contextmenu_close {
  float: right;
  width: 22px;
  height: 27px;
  background-color: #afa56a;
  cursor: pointer;
  font-size: 21px;
  padding: 0px 0px 0px 5px;
  border: 2px solid #928320;
  border-right: none;
  border-top: none;
}
.contextmenu_close:hover {
  transform: scale(1.2);
}
.contextmenu_item {
  background-color: #ede4ab;
  padding: 0.3em;
  margin: 0em 0em 0.2em 0em;
  cursor: pointer;
}
.contextmenu_item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.contextmenu_item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contextmenu_item:hover {
  background-color: #d6c243;
  /*color: #f0f0f0;*/
}
.overlay_veil {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(64,64,64,0.2);
}
.options_wrapper {
  position: absolute;
  right: 0px;
  top: 43px;
  width: calc(5% + 7px);
}
.options_element {
  background-color: #d5edab;
  padding: 0px 0px 0px 8px;
}
.options_element_selected {
  background-color: #a0d642;
}
#img_search {
  margin: 10px 10px 0px 0px;
}
#img_menu,#img_gear {
  margin: 5px 10px 0px 0px;
}
#img_search:hover {
  background-image: url(img/looking-glass-big.gif);
}
#img_gear:hover {
  animation: turn_gear 3.5s linear infinite;
}
#img_menu:hover {
  background-image: url(img/menu-hover.gif);
}
#img_radio:hover {
  background-image: url(img/radio-hover.gif);
}
@keyframes turn_gear {
  0%   { transform: rotate(0); }
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
.configuration_title {
  font-size: 20pt;
}
.configuration_button {
  margin: 5px;
  background-color: #a0d642;
  color: #1e2a09;
  padding: 4px;
  border: 1px solid #a0d542;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #c0e382 0%, #a0d642 70%, #86bc29 100%);
}
.configuration_button:hover {
  background-image: linear-gradient(to bottom, #eaf6d5 0%, #cae896 70%, #b5df6d 100%);
}
.menu_search_list {
  list-style-type: none;
  padding: 0px;
}
.menu_search_link {
  margin-bottom: 15px;
  margin-left: 0px;
}
.configuration_session_id {
  word-spacing: 1em;
}
.bugreport_wrapper {
  position: absolute;
  right: -37px;
  bottom: 46px;
  word-wrap: nowrap;
  /*width: 35px;*/
  overflow: visible;
  border: 1px solid #b0b0b0;
  padding: 2px;
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%);
  transform: rotate(-90deg);
}
.bugreport_link:link, .bugreport_link:visited {
  text-decoration: none;
  color: #606060;
  font-size: 16pt;
}
.keyboard_main_wrapper {
  z-index: 200;
  position: absolute;
  left: 20px;
  top: 10px;
  width: 50%;
  height: 200px;
 }
.keyboard_letter_wrapper {
  float: left;
  width: 83.33%;
}
.keyboard_key_letter, .keyboard_key_enter, .keyboard_key_shift, .keyboard_key_space, .keyboard_key_backspace {
  float: left;
  border: 1px solid #928320;
  background-color: #ede4ab;
  color: #928320;
  text-align: center;
  font-size: 16pt;
  padding: 6px 0px 0px 0px;
}
.keyboard_key_letter:hover, .keyboard_key_enter:hover, .keyboard_key_shift:hover, .keyboard_key_space:hover, .keyboard_key_backspace:hover {
  box-shadow: inset 0px 0px 2px 1px #928320, 0px 0px 4px 0px #928320;
}
.keyboard_key_letter:active {
  transform: scale(1.2);
}
.keyboard_key_enter:active, .keyboard_key_shift:active, .keyboard_key_space:active, .keyboard_key_backspace:active {
  transform: scale(1.1);
}
.keyboard_key_letter {
  width: calc(10% - 2px);
  height: 32px;
  /* TODO: do some fancy gradient stuff for the background later */
}
.keyboard_key_backspace {
  width: calc(16.66% - 2px);
  height: 32px;
}
.keyboard_key_enter {
  width: calc(16.66% - 2px);
  height: 152px;
}
.keyboard_key_shift {
  width: calc(30% - 2px);
  height: 32px;
}
.keyboard_key_space {
  width: calc(70% - 2px);
  height: 32px;
}
.radio_play_button {
  width: 100px;
  height: 100px;
  border: 1px solid #696a6a;
  border-radius: 10px;
}
